body,
.page {
    background-color: aqua;
    color: black;
}

body.dark,
.page.dark {
    background-color: darkgrey;
    color: blue;
}

body,
.about,
.services {
    background-color: aqua;
    color: black;
}

body.dark,
.about.dark,
.services.dark {
    background-color: darkgrey;
    color: blue;
}

.contact .content {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/* HERO */

.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.toggle-container {
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 100;
}

.hero h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    text-align: center;
}

/* Navbar */
.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5vh;
    /* Changed from 60px to 5vh */
    background-color: transparent;
    transition: bottom 0.3s ease;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar.hidden {
    bottom: -5vh;
    /* Changed from -60px to -5vh */
}

.navbar.top {
    bottom: auto;
    top: 0;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.navbar ul li {
    margin-right: 2vw;
    /* Changed from 20px to 2vw */
}

.navbar ul li:last-child {
    margin-right: 0;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    /* Changed from 18px to 1.2vw */
}