body,
.page {
    background-color: #63a4ff;
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
    color: black;
}

body.dark,
.page.dark {
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
    color: white;
}

body.dark video {
    filter: brightness(85%);
}

body,
.about,
.services {
    background-color: #63a4ff;
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
}

body.dark,
.about.dark,
.services.dark {
    background-color: #2b4162;
    background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
}

.contact .content {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/* HERO */

.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.toggle-container {
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 100;
}

.hero h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    text-align: center;
}

/* Navbar */
.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5vh;
    background-color: transparent;
    transition: bottom 0.3s ease;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar.hidden {
    bottom: -5vh;
}

.navbar.top {
    bottom: auto;
    top: 0;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.navbar ul li {
    margin-right: 2vw;
}

.navbar ul li:last-child {
    margin-right: 0;
}

.navbar ul li a {
    color: black;

    text-decoration: none;
    font-size: 1.5rem;
}

body.dark .navbar a {
    color: white;
    text-shadow: #2b4162;
}

/* About */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    padding-bottom: 5rem;
}

.grid-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 90vh;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.no-padding {
    padding: 0;
}

.grid-item.full-width {
    grid-column: 1 / -1;
}

.grid-item.text-third-right {
    grid-column: 3 / 4;
}

.grid-item.two-thirds-right {
    grid-column: 1 / 3;
}

.grid-item.text-third-left {
    grid-column: 1 / 2;
}

.grid-item.two-thirds-left {
    grid-column: 2 / 4;
}

.grid-container video {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .grid-item.text-third-right,
    .grid-item.two-thirds-right,
    .grid-item.text-third-left,
    .grid-item.two-thirds-left,
    .grid-item.full-width {
        grid-column: 1 / -1;
    }
}