/* HERO */

.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.hero .video-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hero video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.hero .toggle-container {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 1;
}

.hero h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    text-align: center;
}